[submodule "notebooks_yongsen/DeconDTN_Reading"]
	path = notebooks_yongsen/DeconDTN_Reading
	url = https://github.com/YongsenTan/DeconDTN_Reading.git
[submodule "runs_yongsen/DeconDTN-toolkit"]
	path = runs_yongsen/DeconDTN-toolkit
	url = https://github.com/LinguisticAnomalies/DeconDTN-toolkit.git
	branch = tmp
